[Desktop Entry]
Encoding=UTF-8
Icon=caffeine
Name=Caffeine-ng Preferences
Comment=Change your Caffeine-ng preferences
Exec=/usr/bin/caffeine -p
Terminal=false
Type=Application
Categories=Settings;DesktopSettings
StartupNotify=false
