[Desktop Entry]
Encoding=UTF-8
Icon=caffeine
Name=Taurine
Comment=Temporarily deactivate the screensaver and sleep mode
Exec=/usr/bin/taurine
Terminal=false
Type=Application
Categories=Utility;TrayIcon;DesktopUtility
Keywords=Screensaver,Power,DPMS,Blank,Idle
StartupNotify=false
