[Desktop Entry]
Encoding=UTF-8
Icon=caffeine
Name=Taurine Preferences
Comment=Change your Taurine settings
Exec=/usr/bin/taurine -p
Terminal=false
Type=Application
Categories=Settings;DesktopSettings
StartupNotify=false
